@using System.Reflection;
@model User

<h2 class="my-5">Welcome to your profile page <span class="text-uppercase">@Model.FirstName @Model.LastName</span></h2>

<form>
    <table class="table table-striped table-hover">
        @{
            foreach (PropertyInfo property in Model.GetType().GetProperties())
            {
                if (property.Name == "Password")
                {
                    <tr>
                        <td>@property.Name :</td>
                        <td><input type="password" value="@property.GetValue(Model)" class="w-50" readonly /></td>
                    </tr>
                }
                else if (property.Name != "MemberId")
                {
                    <tr>
                        <td>@property.Name :</td>
                        <td><input type="text" value="@property.GetValue(Model)" class="w-50" readonly/></td>
                    </tr>
                }
            }
        }
        <tr>
            <td colspan="2" class="d-flex align-items-center justify-content-center"*/>
                <input type="submit" value="Validate"  />
            </td>
        </tr>
    </table>
</form>
