@model User
<h2 class="my-5">@Model.LastName.ToUpper() @Model.FirstName[0].ToString().ToUpper()@Model.FirstName.Substring(1), Welcome to your profile page</h2> <!--Add name in TempData["***"] to have it everywhere-->

@{
    if (TempData["message"] != null && Convert.ToString(TempData["message"]) == "Profil edited with success")
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Your profile has been successfully edited. You can now see the changes below.</p>
            <hr />
            <p class="mb-0">If the changes do not appear, please report it to <a href="mailto:administrators@offerverse.com">administrators@offerverse.com</a>.</p>
        </div>
    }
}

<table class="table table-striped table-bordered table-hover">
    <tr></tr>
    <tr>
        <th>First name</th>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <th>Last name</th>
        <td>@Model.LastName</td>
    </tr>
    <tr>
        <th>Phone number</th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.StreetNumber @Model.StreetName, @Model.PostCode @Model.City</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Password</th>
        <td>●●●●●●●</td>
    </tr>
</table>

<div class="d-flex gap-xl-5 justify-content-between">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark my-2 p-2 px-4 w-25">Back</a>
    <a asp-action="EditProfile" class="btn btn-warning my-2 p-2 px-4s w-25">Edit profile</a>
    <a asp-action="ShowInProgressServices" class="btn btn-secondary my-2 p-2 px-4 w-25">Services in progess</a>
    <a asp-action="ShowCreditsTransactions" class="btn btn-info my-2 p-2 w-25">Check credits transactions</a>
</div>
        