@using OfferVerse.ViewModels
@model UserTransactionsViewModel

<h2 class="my-5"><span>@Model.User.LastName.ToUpper() @Model.User.FirstName[0].ToString().ToUpper()@Model.User.FirstName.Substring(1)</span>, Here are all your time transactions</h2>

<table class="table  table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date start service</th>
            <th scope="col">Date end service</th>
            <th scope="col">Demander</th>
            <th scope="col">Provider</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Amount of the transaction</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
            foreach (ServiceDemanded s in Model.ServicesDemanded)
            {
                if (Model.User.Equals(s.ServiceProvider))
                {
                    <tr class="alert-success">
                        <th scope="row">@(index++)</th>
                        <td>@s.StartService.ToString("MM/dd/yyyy")</td>
                        <td>@s.EndService.ToString("MM/dd/yyyy")</td>
                        <td>@s.ServiceDemander.LastName.ToUpper() @Model.User.FirstName[0].ToString().ToUpper()@Model.User.FirstName.Substring(1)</td>
                        <td>You</td>
                        <td>@s.ServiceProvided.Title</td>
                        <td>@s.ServiceProvided.Description</td>
                        <td>+ @s.NbHours</td>
                    </tr>
                } 
                else
                {
                    <tr class="alert-danger">
                        <th scope="row">@(index++)</th>
                        <td>@s.StartService.ToString("MM/dd/yyyy")</td>
                        <td>@s.EndService.ToString("MM/dd/yyyy")</td>
                        <td>You</td>
                        <td>@s.ServiceProvider.LastName.ToUpper() @Model.User.FirstName[0].ToString().ToUpper()@Model.User.FirstName.Substring(1)</td>
                        <td>@s.ServiceProvided.Title</td>
                        <td>@s.ServiceProvided.Description</td>
                        <td>- @s.NbHours</td>
                    </tr>
                }
                
            }
        }
        <tr class="alert-success">
            <th scope="row">@(index++)</th>
            <td>A</td>
            <td>welcome</td>
            <td>gift</td>
            <td>from</td>
            <td>our</td>
            <td>part</td>
            <td>+ 10</td>
        </tr>
    </tbody>
</table>

<div class="d-flex gap-xl-5 justify-content-between">
    <a asp-action="ShowProfile" class="btn btn-dark my-2 p-2 px-4 col-3">Back</a>
</div>
