@model ServiceDemanded

<tr class="alert-success">
    <th scope="row">@ViewData["index"]</th>
    <td>@(Model.StartService.HasValue ? @Model.StartService.Value.ToString("dd/MM/yyyy") : "N/A")</td>
    <td>@(Model.EndService.HasValue ? @Model.EndService.Value.ToString("dd/MM/yyyy") : "N/A")</td>
    <td>@Model.ServiceDemander.LastName.ToUpper() @Model.ServiceDemander.FirstName[0].ToString().ToUpper()@Model.ServiceDemander.FirstName.Substring(1)</td>
    <td>You</td>
    <td>@Model.ServiceProvided.Title</td>
    <td>@Model.ServiceProvided.Description</td>
    <td>+ @Model.NbHours</td>
</tr>