@model User

<tr>
    <th>First name</th>
    <td>@Model.FirstName</td>
</tr>
<tr>
    <th>Last name</th>
    <td>@Model.LastName</td>
</tr>
<tr>
    <th>Phone number</th>
    <td>@Model.PhoneNumber</td>
</tr>
<tr>
    <th>Address</th>
    <td>@Model.StreetNumber @Model.StreetName, @Model.PostCode @Model.City</td>
</tr>
<tr>
    <th>Email</th>
    <td>@Model.Email</td>
</tr>
<tr>
    <th>Password</th>
    <td>●●●●●●●</td>
</tr>